---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html>
<head title="Talks/Podcasts">
<BaseHead title="Talks/Podcasts" description="Talks/Podcasts"/>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DCJV77GG7F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DCJV77GG7F');
</script>
<body>
<!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RPM9V45" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 
<Header title="Talks/Podcasts" />
<main class="w-[900px] max-w-[calc(100%-2em)] mx-auto p-4 text-gray-800">

  <h1 class="mb-4 py-4 text-center leading-none">Et à part ça ?</h1>

  <p>
    Après des années à voir considéré la prise de parole pour ma Némésis, j'ai fini par franchir le pas ! Je n'ai pas commencé par le plus facile, mais je n'étais pas seul aux commandes (sinon le talk n'aurait jamais vu le jour ^^). Cette première prise de parole publique a été une découverte, aussi stressante qu'intéressante.
  </p>
  <p>
    En bref, vous trouverez ici mes contenus audio et vidéo.
  </p>

  <h2>LevelUp! Astro</h2>

  <p class="pb-8">
    Si vous avez parcouru ce blog vous avez peut-être déjà lu un article à propos de ce framework JS qui fait tourner ce blog. Voilà comment je me suis embarqué dans la préparation d'un talk donné un midi de 2024 chez Max Digital Services. Ne soyez donc pas surpris que ce talk soit présenté à 4 mains avec mon mentor en la matière, Florian Etourneau.
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/nC6POtjo0Ik?si=_OTne5uE8C9sJZh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
  <h2>Podcast Horizons Tech</h2>
  <p>
    De même que pour le talk Astro, c'est une proposition de l'ENI qui m'a amené à parler de la reconversion au micro du podcast de l'école qui m'a formé (ou plutôt reconverti ?). Vous y trouverez quelques idées sur le déroulement d'une reconversion, et sur mon itinéraire de chimiste à développeur.
  </p>
  
  <p class="flex pb-8">
    <iframe name="Ausha Podcast Player" frameborder="0" loading="lazy" id="ausha-2vUM" height="220" style="border: none; width:100%; height:220px" src="https://player.ausha.co/?podcastId=Lxx0Ligk7KVZ&playlist=false&color=%2372238e&v=3&playerId=ausha-2vUM"></iframe><script src="https://player.ausha.co/ausha-player.js"></script>
  </p>

  <h2>Y en a d'autres ?</h2>

  <p>
    Pour le moment non 😅 mais je n'exclus pas de participer à nouveau à un podcast. J'ai quelques idées adaptées au format d'un podcast. Pour ce qui est des talks pourquoi pas, encore faut-il trouver le thème ! Non pas que j'en manque, mais trouver un axe intéressant pour aborder une techno n'est pas toujours simple.
  </p>
  <p>
    Stay tuned, et pour rester informés suivez-moi sur Linkedin (en bas de la page 😅).
  </p>
</main>
<Footer />
</body>
</html>
