---
const { src, alt = "" } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center md:items-center gap-4 my-16 text-xl/10">
    <img
            src={src}
            alt={alt}
            class="w-full md:w-64 rounded-xl shadow-lg mb-2 md:mb-0"
            loading="lazy"
    />
    <div class="flex-1 text-gray-800">
        <slot />
    </div>
</div>
