---
import { LINKEDIN_LINK } from "../consts";
---

<p class="bg-zinc-200/25 p-2 my-10 rounded-lg inline-block">
    Cet article vous a plu ? Faites le savoir et n'hésitez pas à me contacter
    sur <a href={LINKEDIN_LINK} class="no-underline">LinkedIn</a> 😉 !
</p>
