---
import { LINKEDIN_LINK } from "../consts";
---

<p class="block flex justify-center text-lg text-white rounded-xl mx-2 py-5 py-2 my-20 bg-gradient-to-br from-black to-gray-900 relative font-semibold">
    Cet article vous a plu ? Contactez-moi sur
    sur <a href={LINKEDIN_LINK} class="no-underline text-white hover:text-yellow-400"><span>&nbsp;LinkedIn&nbsp;</span></a> 😉 !
</p>
