---
import { LINKEDIN_LINK } from "../consts";
---

<p class="block flex justify-center text-lg text-white rounded-xl mx-2 py-5 p-2 my-20 bg-slate-900">
    Cet article vous a plu ? Faites le savoir et n'hésitez pas à me contacter
    sur <a href={LINKEDIN_LINK} class="no-underline text-white hover:text-yellow-400"><span>&nbsp;LinkedIn</span></a> 😉 !
</p>
