---
const { authorlink, author, unsplashlink } = Astro.props;
---

<div>
  <h3>Crédits photographiques</h3>
  Photo de <a href={authorlink}>{author}</a> sur
  <a href={unsplashlink}>Unsplash</a>
</div>
