---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer
  class="p-1 text-center bg-gradient-to-br 
from-neutral-400 to-neutral-800
dark:from-neutral-800 dark:to-neutral-400"
>
  <div class="flex justify-center gap-x-1 mt-2">
    <SocialLinks context="footer" />
  </div>
  <p class="justify-center text-sm text-white p-1">
    &copy; {today.getFullYear()} Ludovic Déan. All rights reserved.
  </p>
</footer>
