---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer
  class="p-10 text-center bg-gradient-to-t from-gray-light to-gray-light-100 shadow"
>
  <div class="flex justify-center gap-x-1 mt-2">
    <SocialLinks context="footer" />
  </div>
  <p class="justify-center text-sm">
    &copy; {today.getFullYear()} Ludovic Déan. All rights reserved.
  </p>
</footer>
