---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
const base = import.meta.env.BASE_URL;
---

<header class="m-0 px-10 bg-white">
  <nav class="flex justify-between mx-40 items-center bg-white">
    <h2 class="m-0 text-2xl"><a href={base}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/about">À propos</HeaderLink>
    </div>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  nav a {
    color: var(--black);
  }
</style>
