---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const base = import.meta.env.BASE_URL;
const url = base + href;
const { pathname } = Astro.url;
const isActive = url === pathname || url === pathname.replace(/\/$/, "");
---

<a
  href={base + href}
  class:list={[
    className,
    "nav-link block px-3 py-2 rounded bg-transparent font-bold text-white hover:text-yellow-400",
    { "text-yellow-400": isActive, "text-white": !isActive },
  ]}
  {...props}
>
  <slot />
</a>
