---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
const base = import.meta.env.BASE_URL;
---

<header
  class="m-0 px-10 bg-gradient-to-b from-gray-light to-gray-light-100 shadow"
>
  <nav class="flex justify-between mx-8 items-center">
    <h2 class="m-0 text-2xl p-0 align-middle">
      <a class="text-black" href={base}><img src="/public/images/logo.png" class="h-10"></a>
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/about">À propos</HeaderLink>
    </div>
    <SocialLinks />
  </nav>
</header>
