---
import PostCard from "./PostCard.astro";
const { posts, context } = Astro.props;
---

<ul>
    {
        posts.map((post) => (
            <li>
                <PostCard post={post} />
            </li>
        ))
    }
</ul>
{
    context == "home" ? (
    <style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        width: calc(50% - 1rem);
        text-decoration: none;
        transition: 0.2s ease;
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
    }
    ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    }
    ul li:first-child img {
    width: 100%;
    }
    ul li:first-child .title {
    font-size: 2.369rem;
    }
</style>
    ):(
    <style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
    }
</style>
    )
}

