---
import PostsList from "./PostsList.astro";
import { getPosts } from "src/utils/blogUtils";

const { tags, title } = Astro.props;

const posts = await getPosts();

const relatedPosts = posts.filter((e) => tags.some((t) => e.data.tags?.includes(t)) && e.data.title !== title,).slice(0,4);
---

{relatedPosts.length > 0 && <h3>Articles en lien</h3>}

<PostsList posts={ relatedPosts } />