---
import SmallCard from "./SmallCard.astro";
import { getPosts } from "src/utils/blogUtils";

const { tags, title } = Astro.props;

const posts = await getPosts();

const relatedPosts = posts.filter((e) => tags.some((t) => e.data.tags?.includes(t)) && e.data.title !== title,).slice(0,4);
---

{relatedPosts.length > 0 && <h3>Articles en lien</h3>}

<ul class="flex flex-wrap gap-4 list-none p-0">
    {
        relatedPosts.map((post) => (
            <SmallCard post={post} />
        ))
    }
</ul>