---
import { Icon } from "astro-iconify";
import { LINKEDIN_LINK, GITHUB_LINK } from "../consts";
const { context } = Astro.props;
---

<a href={LINKEDIN_LINK}>
    <Icon name="linkedin" style="height: 2em" />
</a>

{
    context == "footer" && (
        <a href={GITHUB_LINK}>
            <Icon name="github" style="height: 2em" />
        </a>
    )
}

<style>
    a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    a:hover {
        color: rgb(var(--gray-dark));
        transform: scale(1.2);
        transition: all 0.5s;
    }
</style>
