---
import { Icon } from "astro-iconify";
import { LINKEDIN_LINK, GITHUB_LINK } from "../consts";
const { context } = Astro.props;
---

<a
    href={LINKEDIN_LINK}
    class="no-underline hover:scale-125 transition-all duration-500 text-gray hover:gray-dark"
>
    <Icon name="linkedin" class="size-12" />
</a>

{
    context == "footer" && (
        <a
            href={GITHUB_LINK}
            class="no-underline hover:scale-125 transition-all duration-500 text-gray hover:gray-dark"
        >
            <Icon name="github" class="size-12" />
        </a>
    )
}
