---
import { getCollection } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import PostsList from "@components/PostsList.astro";

const { name, description } = Astro.props;

const posts = (await getCollection("blog"));
const filteredPosts = posts.filter((post) => !post.id.startsWith('_') && post.data.tags?.includes(name));

const fullDescription = `Articles appartenant à la catégorie ${name}`;
---

<BaseLayout title="Catégorie" description={ fullDescription }>
    <h2 class="mb-4 py-4 text-center leading-none">{name}</h2>
    <p>{description}</p>
    <PostsList posts={filteredPosts} />
</BaseLayout>